<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <main class="contents">

      <div class="mainPhoto"><img src="./assets/banner.jpg"></a></div>

      <h1>Seattle mayoral matchmaker</h1>
      <p class="deck">
         Which candidate shares your views? Take our quiz to find out.
      </p>

      <p class="chatter">
        For each question, pick the answer you agree with most – we’ve summed up where the candidates stand. When you’re done, we’ll tell you which candidate thinks like you.
      </p>

      <div class="results-container"></div>


      <div class="quiz-container">

      </div>

      <div class="button">
        <button class="submit">Submit</button class="submit">
      </div>

      <% for (var k in json.bios) { %>
      <% var bio = json.bios[k] %>

        <div class="results-bio">
          <div class="bio-intro <%= k %> hidden">
            Based on your responses, you most align with ...
            <span class="bigName <%= k %>"><%= bio.name %></span>
          </div>

          <div class="bio-tie hidden">
            <span class="tied">You've tied.</span>
            Here's a little bit about each candidate.
          </div>



        <div class="<%= k %>-bio block hidden">

        <div class="video">
           <div class="video-container">
            <iframe src="//players.brightcove.net/1509317113/V1eCvUwO2g_default/index.html?videoId=<%= bio.video %>" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
          </div>
          <div class="video-caption">
            We asked leading mayoral candidates to explain &mdash; in less than a minute &mdash; how they are a "typical Seattleite" and how they are "atypical." (Lauren Frohne / The Seattle Times)
          </div>
        </div>



          <div class="name-bio">
            <div class="name-<%= k %>">
              <h2><%= bio.name %></h2>
            </div>
            <div class="bio">
              <%= bio.bio %>
            </div>

          </div>

        </div>
        <% } %>
      </div>

    <div class="credits">
      Quiz: Daniel Beekman and Jim Brunner &bull; Editing: Beth Kaiman and Laura Gordon &bull; Project producer: Tyler Sipe &bull; Design: Frank Mina &bull; Illustrations: Gabriel Campanario &bull; Development: Vanessa Mart&iacute;nez and Thomas Wilburn
    </div>

    </main>

    <%= t.include("partials/_dontMiss.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.policies = <%= JSON.stringify(json.policies) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
